@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  line-height: 1.5;
  border: none;
  outline: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
}

.App {
  overflow-x: hidden;
}

.pageContainer {
  display: flex;
  user-select: none;
}

.mobileMenu {
  display: none;
  @media screen and (max-width: 768px) {
      z-index: 100;
      display: block;
      position: fixed;
      top: 0;
      right: 0;
  }
}